{% extends "layout.html" %}

{% block head %}
  <title>About - Agenda</title>
{% endblock %}

{% block container %}
  <div class="piece" style="background-color: #F7F7F7">
    <h1 style="align-self: center;">About Agenda</h1>
    <p>Agenda是中山大学(SYSU)软件工程大一实训的一个项目，而这(AgendaWeb)是Hsu和我(DaddyTrap)合作的Agenda Web化项目</p>
    <p>才疏学浅，只能做到很一般的水平，若有疏漏，也非常欢迎dalao们的指教。</p>
    <br>
    <p>在此必须感谢的是两个开源项目</p>
    <p>Thanks To:</p>
    <p><a href="http://getbootstrap.com/">Bootstrap</a></p>
    <p><a href="http://flask.pocoo.org/">Flask</a></p>
    <p>和免费给Bootstrap提供一些icon的<a href="http://glyphicons.com/">Glyphicon</a></p>
    <br>
    <br>
    <p>联系我们：</p>
    <p>DaddyTrap</p>
    <p><a href="mailto:daddytrapc@gmail.com">daddytrapc@gmail.com</a></p>
    <p><a href="https://github.com/DaddyTrap">DaddyTrap@github</a></p>
    <p>Hsu</p>
    <p><a href="https://github.com/chenxu2048">chenxu2048@github</a></p>
  </div>
{% endblock %}
